// Import theming functions
@import '~@angular/material/theming';

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// /* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import './custom-theme';

.alternate-theme {
    $alternate-primary: mat-palette($mat-light-green);
    $alternate-accent: mat-palette($mat-light-green, A200, A100, A400);
    $alternate-warn: mat-palette($mat-red);
    $alternate-theme: mat-dark-theme($alternate-primary, $alternate-accent, $alternate-warn);
    @include angular-material-theme($alternate-theme);
}

$gray-theme-300: mat-palette($mat-grey,  A200, A100, A400);

.app {
  // background-color: mat-color($custom-theme-primary, 100);
  //https://medium.com/covalent-ui/angular-material-2-theme-tutorial-2f7e6c344006
  background-color: mat-color($gray-theme-300, 300);
}