<form [formGroup]="linkFormGroup" (ngSubmit)="onSubmit(linkFormGroup.value)" autocomplete="off">
  
  <md-grid-list cols="1" rowHeight="100px" >
    <md-grid-tile>
      <md-list>
        <md-list-item>
      <h2>{{formTitle}}</h2>
      </md-list-item>
      </md-list>      
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container floatPlaceholder="always">

        <div style="display:flex">
        <span style="color: #bababa">Link.run/</span>
        <input #link   [formControl]="linkFormGroup.controls['link']" name="link" mdInput  linkNameValidator
          required minlength="2" placeholder="Short Link" >
          </div>        
          <md-error>
            {{formErrors.link}}
            </md-error>
          
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container >
        <input style="font-size: 12px" #url [formControl]="linkFormGroup.controls['url']"  name="url" mdInput placeholder="URL" required minlength="2">
        <md-error>
            {{formErrors.url}}
        </md-error>        
      </md-input-container>
    </md-grid-tile>

    <md-grid-tile>
      <md-input-container>
        <textarea  [formControl]="linkFormGroup.controls['description']" name="description" mdInput placeholder="Description"></textarea>
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <button md-raised-button type="submit" [disabled]="!linkFormGroup.valid" >Submit</button>  
    </md-grid-tile>
  </md-grid-list>
</form>

<app-link-list #linkList [shortName]="linkFormGroup.controls['link'].value" ></app-link-list>
