
<form [formGroup]="linkFormGroup" (ngSubmit)="onSubmit(linkFormGroup.value)">
  <md-grid-list cols="1" rowHeight="100px" >
    <md-grid-tile>
      <md-input-container>
        <input #link [formControl]="linkFormGroup.controls['link']" name="link" mdInput 
          required minlength="2" placeholder="Link">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input #url [formControl]="linkFormGroup.controls['url']"  name="url" mdInput placeholder="URL" required minlength="2">
      </md-input-container>
    </md-grid-tile>

    <md-grid-tile>
      <md-input-container>
        <textarea  [formControl]="linkFormGroup.controls['description']" name="description" mdInput placeholder="Description"></textarea>
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
      <button md-raised-button type="submit" [disabled]="!linkFormGroup.valid" >Create</button>  
    </md-grid-tile>
  </md-grid-list>
</form>
