<md-list>
  <md-list-item *ngFor="let link of links" style="border-bottom: 1px #dadada solid">
    <h3 md-line  ><a href="/{{link.link}}"> {{link.link}}</a> </h3>
    <!--<p md-line style="color:#ababab">
      <span> {{link.url}} </span>
    </p>-->
    <div style="display:flex" *ngIf="link['canEdit']">
      <div style="color:#ababab">
        <a routerLink="/link/edit/{{link.id}}" style="color:#ababab"><span class="material-icons">edit</span></a>
      </div>
      <div style="color:#ababab">
        <a (click)="deleteLink(link.id)" style="cursor:pointer"><span class="material-icons">delete</span></a>
      </div>
    </div>
  </md-list-item>
</md-list>
